<app-navebar></app-navebar>

<!-- component -->
<!-- Partie connexion -->
<div class="ag-format-container ">
    <form>
        <div class="ag-courses_box">
            <div class="ag-courses_item">
                <a routerLink="/connexion" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        Se connecter
                    </div>

                    <div class="ag-courses-item_date-box">
                        <span class="ag-courses-item_date text-3xl">
                            Professeur
                        </span>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a routerLink="/connexion" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        Se connecter
                    </div>

                    <div class="ag-courses-item_date-box">
                        <span class="ag-courses-item_date text-3xl ">
                            Resp-Pédagogique
                        </span>
                    </div>
                </a>
            </div>

            <div class="ag-courses_item">
                <a routerLink="/connexion" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        Se connecter
                    </div>

                    <div class="ag-courses-item_date-box">
                        <span class="ag-courses-item_date text-3xl">
                            Attaché
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </form>

</div>